
/* background images on concept & philosophy */

.intro-section,
.portfolio-section,
.services-section {
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	background-size: cover;
}


/* fixed position nav bar on thoughts & destinations */

.header-outer-wrapper {
	position: fixed;
}

.titlebar-title {
	margin-top: 50px;
}


/* thumbnail grids on thoughts & destinations */

.cpt-detail-thoughts {
	bottom: -38px;
}

.cpt-item-blog:hover .cpt-detail-thoughts,
.cpt-item:hover .cpt-detail {
	bottom: 0px !important;
}


/* 1 pixel gap on the right edge of thumbnail grids on thoughts & destinations */
/* fixing responsive width on thumbnail list on thoughts & destinations */

.cpt-detail-thoughts,
.cpt-detail {
	width: 306px;
	max-width: 100%;
}

@media only screen and (max-width: 767px) {
	.row .cpt-item-blog.columns,
	.row .cpt-item.columns {
		margin: 0 auto;
		max-width: 336px;
	}
}

/* centering filters on destinations */

.builder-title-wrapper.has_filter .cpt-filters {
	width: 100%;
	text-align: center;
}

.cpt-filters li {
	float: none;
}


/* header images */

#thoughts-header-image {
	/* original: 
	background:#000 url('thoughts/images/banner.jpg') no-repeat center -145px fixed;
	background-size: 100% 100%; */
	background:#000 url('thoughts/images/banner.jpg') no-repeat center -145px fixed;
	background-size: cover;
}

#destinations-header-image {
	/* original: 
	background:#000 url('destinations/images/banner.jpg') no-repeat center -70px fixed;
	background-size: 100% 100%; */
	background:#000 url('destinations/images/banner.jpg') no-repeat center -70px fixed;
	background-size: cover;
}


