/* relocated parallax page CSS */

/** 
-------------------------
* Grid system
------------------------- */
.container-section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container-section:before,
.container-section:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container-section:after {
  clear: both;
}

/** 
-------------------------
* Skeleton
------------------------- */
/** Global Section
------------------------- */
.global-section {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 705px;
}
.global-section .section-header {
  margin-bottom: 50px;
}
.global-section .section-header .section-header-title,
.global-section .section-header-text .section-header-title {
  margin-bottom: 15px;
}
.global-section .section-header .section-header-body-lead,
.global-section .section-header-text .section-header-body-lead {
  font-size: 16.099999999999998px;
  line-height: 1.6428571433499999;
  padding: 55px;
  font-family: 'Georgia Regular', Georgia, Constantia, 'Lucida Bright', 'DejaVu Serif', serif !important;
  letter-spacing: 0;
}
.global-section .section-header .nav-pills-centered,
.global-section .section-header-text .nav-pills-centered {
  margin-top: 30px;
}
@media screen and (max-width: 480px) {
  .global-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#intro {
  padding-top: 140px;
}

#concept #intro {
  background: #111 url('./info/concept/images/big-intro.jpg')center center;
}

#concept #page1 {
  background: #111 url('./info/concept/images/big-page1.jpg')center center;
}

#concept #page2 {
  background: #111 url('./info/concept/images/big-page2.jpg')center center;
}

#concept #page3 {
  background: #111 url('./info/concept/images/big-page3.jpg')center center;
}

#concept #page4 {
  background: #111 url('./info/concept/images/big-outro.jpg')center center;
}

#philosophy #intro {
  background: #111 url('./info/philosophy/images/big-intro.jpg')center center;
}

#philosophy #page1 {
  background: #111 url('./info/philosophy/images/big-page1.jpg')center center;t
}

#philosophy #page2 {
  background: #111 url('./info/philosophy/images/big-page2.jpg')center center;t
}

#philosophy #page3 {
  background: #111 url('./info/philosophy/images/big-page3.jpg')center center;t
}

#philosophy #page4 {
  background: #111 url('./info/philosophy/images/big-outro.jpg')center center;
}

#concept .global-section,
#philosophy .global-section {
  background-size:  100% auto;	
}

/** Parallax Section
------------------------- */


.parallax-section .parallax-title {
	color: #fff !important;
	font-size: 25px;
	font-weight: 100;
	line-height: 38px;
	margin-bottom: 0px;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Georgia Regular', Georgia, Constantia, 'Lucida Bright', 'DejaVu Serif', serif !important;
  letter-spacing: 0;
}
.parallax-section .parallax-body {
	color: #ffd500;
	font-size: 18px;
	line-height: 18px;
}

#concept .parallax-section-1 {
  background: #111 url("./info/concept/images/parallax1.jpg")  center center;
}
#concept .parallax-section-2 {
  background: #111 url("./info/concept/images/parallax2.jpg") center center;

}
#concept .parallax-section-3 {
  background: #111 url("./info/concept/images/parallax3.jpg") center center;
}
#concept .parallax-section-4 {
  background: #111 url("./info/concept/images/parallax4.jpg") center center;
}

#philosophy .parallax-section-1 {
  background: #111 url("./info/philosophy/images/parallax1.jpg")  center center;
}
#philosophy .parallax-section-2 {
  background: #111 url("./info/philosophy/images/parallax2.jpg") center center;
}
#philosophy .parallax-section-3 {
  background: #111 url("./info/philosophy/images/parallax3.jpg") center center;
}
#philosophy .parallax-section-4 {
  background: #111 url("./info/philosophy/images/parallax4.jpg") center center;
}

#philosophy .parallax-section,
#concept .parallax-section {
	padding: 90px 130px;
	text-align: center;
	box-shadow:0 -10px 10px -10px #000000;
	background-attachment: fixed;
	background-size:  cover;
}


.intro-title{
  display: block;
  float: left;
  width: 693px;
  height: 489px;
  margin-left: 35px;
  text-align: left;
  position: absolute;
  left: 50%;
  margin-left: -346px;
  margin-top: 50px;
}
.page-body.float-right,
.float-right{
  margin-right: 35px;
  margin-left: none;
  float: right;
}
.page-body.centered,
.centered{
  float: none;
  left: 50%;
  margin-left: -375px;
}
.page-body{
  display: block;
  float: left;
  width: 780px;
  height: auto;
  background: rgba(0,0,0,0);
  color:#111 !important;
  margin-left: 35px;
  position: relative;
  top:-20px;
  text-align: left;
  font-family: 'Georgia Regular', Georgia, Constantia, 'Lucida Bright', 'DejaVu Serif', serif;
  font-size: 16px;
  padding: 39px;
}
.width-small{
    /*width: 780px !important;*/
}
.color-white{
  color: #ccc !important;
}
.background-black{
  background: rgba(0,0,0,.85);
}
.background-white{
  background: rgba(255,255,255,.90);
}

/* widths on text sections on parallax pages */

.global-section,
.parallax-section,
.about-section,
.outro-section,
.intro-section,
.portfolio-section,
.services-section,
.page-body {
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-body.width-extra-small {
	width: 600px;	
}

.page-body.width-small {
	width: 780px;
}


/* background images on concept & philosophy */

#concept #intro,
#concept #page1,
#concept #page2,
#concept #page3,
#concept #page4,
#concept #outro,
#philosophy #intro,
#philosophy #page1,
#philosophy #page2,
#philosophy #page3,
#philosophy #page4 {
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	background-size: cover;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.outro-section,
	#page3,
	.intro-section,
	.portfolio-section,
	.services-section,
	.about-section {
		min-height: 1024px;
	}
	.intro-section {
		padding-top: 240px;
	}
	.page-body,
	.page-body.float-right,
	.page-body.centered,
	.page-body.width-small,
	.page-body.width-extra-small {
		width: 500px;
		float: none;
		margin: 0 auto;
		left: auto;
		right: auto;
	}
}

@media screen and (max-width: 767px) {
	.parallax-section {
		padding: 45px 65px;
	}

	.intro-section {
		padding-top: 120px;
	}

	#concept #intro,
	#concept #page1,
	#concept #page2,
	#concept #page3,
	#concept #page4,
	#concept #outro,
	#philosophy #intro,
	#philosophy #page1,
	#philosophy #page2,
	#philosophy #page3,
	#philosophy #page4,
	#philosophy #outro {
		background: #fff;
	}

	.page-body,
	.page-body.centered,
	.page-body.float-right,
	.page-body.float-left {
		margin-left: 0;
		margin-right: 0;
		left: 0;
	}

}

.page-body h1 {
	text-align: center;
}

/* fixed position nav bar on thoughts & destinations */

.header-outer-wrapper {
	position: fixed;
}

.titlebar-title.top-titlebar {
	margin-top: 50px;
}


/* thumbnail grids on thoughts & destinations */
/* adding responsivity */
/* fixing 1 pixel gap on the right edge of thumbnail grids on thoughts & destinations */
/* fixing responsive width on thumbnail list on thoughts & destinations */


.cpt-detail-thoughts {
	bottom: -38px;
}

.cpt-item-blog:hover .cpt-detail-thoughts,
.cpt-item:hover .cpt-detail {
	bottom: 0px !important;
}

.cpt-detail-thoughts,
.cpt-detail {
	width: 306px;
	max-width: 100%;
}

@media only screen and (max-width: 767px) {

	.row .cpt-item-blog.columns,
	.row .cpt-item.columns {
		display: block;
		float: none;
		margin: 0 auto 10px auto;
		max-width: 336px;
	}

	.main-wrapper .page-title-wrapper {
		height: 60px;
		margin-top: -34px;
	}

	.builder-title-wrapper.has_filter .cpt-filters {
		right: 0px;
		top: -94px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.header-right #primary-nav-id,
	#primary-nav-id ul {
		float: none;
		width: 100%;
		text-align: center;
	}

	#primary-nav-id ul li {
		display: inline-block;
		float: none;
		width: auto;
		clear: none;
	}

	.titlebar-title.top-titlebar {
		margin-top: 147px;
	}

}

.row .cpt-item-blog.columns,
.row .cpt-item.columns {
	padding: 0 5px;
	height: auto !important;
	margin-bottom: 10px;
}

.cpt-detail,
.cpt-detail-thoughts {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	left: 0;
	width: 100%;
}

.container {
	padding: 0;
}

.row .row {
	margin: 0 -5px;
}

.column, 
.columns,
.cpt-detail,
.cpt-detail-thoughts {
	padding: 0 5px;	
}

.cpt-desc-wrapper {
	background: rgba(0,0,0,0.75);
}

.cpt-desc-wrapper:before, 
.cpt-desc-wrapper:after { 
	content: ""; 
	display: table; 
}

.cpt-desc {
	position: relative;
	left: 0px;
	width: 100% !important;
	text-transform: none;
}


/* centering filters on destinations */

.builder-title-wrapper.has_filter .cpt-filters {
	width: 100%;
	text-align: center;
}

.cpt-filters li {
	float: none;
}

/* lining up edges of blog post and blog title bar */

.main-outer-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
}

/* relocating trouble css from markup */

.list-grid .main-outer-wrapper {
	background: none !important;
	border: 0;
}

.list-grid .main-outer-wrapper.has-titlebar {
	margin-top:-68px !important;
}

.list-grid .thumb-control-wrapper {
	height: 245px !important;
}

#thoughts .page-title-wrapper {
	background: none !important;
}

/* relocating concept css from markup */

#headerwrap{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999 !important;
	background: rgba(0,0,0,.85) !important;
}

.fixedheadertop{position: fixed;left: 50%;margin-left: -490px;z-index: 9999 !important;}
.fixedheadertop nav img{
	float: left;
	position: relative;
}

.fixedheadertop nav ul{
	float: right;
}

.nav--primary{
	position: relative;
	right: -7px !important;
}

#contactable-inner {
	*margin-right:-5px; 
	top:50%;
	margin-top:-51px;
	*margin-top:-51px;
	cursor: pointer;
}

#contactable-contactForm {
	margin-top:-245px;
}


/* making contactable forms the same on both parallax and non-parallax pages */

#my-contact-div,
#my-contact-div form,
#my-contact-div div,
#my-contact-div label,
#my-contact-div input,
#my-contact-div textarea {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#my-contact-div label,
#my-contact-div input,
#my-contact-div textarea {
	display: block;
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 400;
}

#my-contact-div form input {
	height: 14px;
}

#my-contact-div form p {
	margin-bottom: 18px;
}

#my-contact-div form label {
	padding-left: 0;
	height: 18px;
	line-height: 18px;
	margin-bottom: 6px;
}

#my-contact-div form select {
	vertical-align: baseline;
	margin-top: 2px;
}

#my-contact-div .contactable-submit {
	vertical-align: baseline;
}

#my-contact-div form textarea {
	overflow: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #a9a9a9;
	margin-top: 3px;
	line-height: 24px;
	min-height: 100px;
}


/* switch contactable form to right side */

.book-now #contactable-inner {
    background-image: url(./assets/contactable/images/book-now-right.png);
}

#my-contact-div #contactable-inner {
	background-image: url(./assets/contactable/images/contact-right.png);
	right: 0;
	left: auto;
	margin-right: -5px;
	margin-left: 0;
}

#my-contact-div #contactable-contactForm {
	margin-left: auto;
	margin-right: -400px;
	left: auto;
	right: 0;
}



/* index bottom nav tweak */

.header .nav.nav--primary li:last-child a {
 	padding-right: 15px; 
}


/* fixing discrepancy between parallax and non-parallax nav */

.fixedheadertop nav img {
	left: -9px;
	top: 4px;
}

.nav--primary {
	line-height: 22px;
	top: 0;
}

.fixedheadertop{
	width: 982px !important;
	padding-top: 0;
}

.black .nav--primary > li.selected > a {
	font-weight: bold !important;
}

.nav li {
	display: block;
	float: left;
}

.nav li a {
	display: block;
	padding: 14px 15px;
}

.nav--primary > li > a:after  {
	margin: 0;
}

.nav li:last-child a {
	padding-right: 0px;
}


/* header images */

#thoughts-header-image {
	/* original: 
	background:#000 url('thoughts/images/banner.jpg') no-repeat center -145px fixed;
	background-size: 100% 100%; */
	background: #000 url('thoughts/images/banner.jpg') no-repeat fixed center bottom;
	background-size: 100% auto;
}

#destinations-header-image {
	/* original: 
	background:#000 url('destinations/images/banner.jpg') no-repeat center -70px fixed;
	background-size: 100% 100%; */
	background: #000 url('destinations/images/banner.jpg') no-repeat fixed center bottom;
	background-size: 100% auto;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#thoughts-header-image,
	#destinations-header-image {
		background-position: center -147px;
		background-size: cover;
	}

}

@media only screen and (max-width: 767px) {

	#thoughts-header-image,
	#destinations-header-image {
		background-position: center -147px;
		background-size: auto;
	}


}

/* changing background color on book now sidebars */

.right-sidebar-wrapper .widget-container {
	background: #444;
}



/* home nav */

#home nav ul {
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}


#home-content{
  z-index:99 !important;
}

.slideshow__slides img {
	max-width: none;
}

@media only screen and (min-width: 959px) {
	#home #header .row,
	#home #header .container {
		width: 100%;
		max-width: 100%;
	}	

	#home-slide-wrap {
		left: 9%;
	}

	#home-slide-wrap span {
		left: 20px;
	}

}


#home .primary-nav ul li:last-child a {
	padding-right: 15px;
}

@media only screen and (min-width: 767px) {

	#home .header-outer-wrapper {
		height: 50px;
	}

	#home .header {
	  position: fixed;
	  bottom: 0px;
	  left: 0px;
	  width: 100%;
	  z-index: 200;
	  *zoom: 1;
	}

	#home .header-outer-wrapper {
		position: relative;
	}

	#home .logo-wrapper {
		position: fixed;
		top: -4px;
		left: 8px;
	}
}

@media only screen and (max-width: 767px) {

	#home-type,
	#home-slide-wrap,
	#home-content,
	#home-content .home-content-title,
	#home-content .home-content-subtitle {
		display: block;
		max-width: 100%;
		left: 0;
	}

	#home-slide-wrap,
	#home-type {
		position: relative;
		height: auto;
		white-space: normal;
	}

	#home-type,
	#home-content .home-content-title,
	#home-content .home-content-subtitle {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 100px 0 20px;
	}

	#home-content {
		top: 240px;
	}

	ul li:first-child #home-slide-wrap {
		top: 400px;
	}

	#home-content p {
		text-align: left;
	}

	#home-content .home-content-title {
		line-height: 40px;
	}

	.slideshow--bullets .slideshow__thumbs {
		display: none;
	}

	#home-content .home-content-btn {
	}

}

@media only screen and (max-width: 959px) and (min-width: 768px) {
	#home .primary-nav.slideMenu ul li a {
		padding: 14px 15px;
	}
	#home #primary-nav-id {
		margin-left: auto;
	}
}


